.markdown {
  @apply text-lg leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}

.markdown li {
  list-style-type: disc;
}

.markdown li li {
  @apply ml-4;
  list-style-type: square;
}

.markdown h2 {
  @apply text-3xl mt-12 mb-4 leading-snug;
}

.markdown h3 {
  @apply text-2xl mt-8 mb-4 leading-snug;
}

.markdown h4 {
  @apply text-xl mt-8 mb-4 leading-snug;
}

.markdown p code, .markdown h2 code {
  padding: .2em .4em;
  background-color: rgba(110, 118, 129, 0.4);
  border-radius: 6px;
}

.markdown a {
  @apply text-blue-600;
}